.check-multiple {
  display: inline-block;
  height: 60px;
  overflow-y: scroll;
  border: 1px solid gray;
  text-align: left;
  padding-left: 2px;
  padding-bottom: 1px;
}
.check-multiple input {
  display: none;
}
.check-multiple label {
  display: block;
  cursor: pointer;
}
.check-multiple span {
  display: inline-block;
  width: 100%;
}
.check-multiple input:checked ~ span {
  background: var(--mt-theme-color-actions-blue);
  color: white;
}

.check-multiple input:disabled ~ span {
	background: var(--mt-theme-color-actions-grey-dark);
	color: white;
  }

div.check-multiple{
	width: 100%;
}