:root{
	--dragover-border-color: var(--mt-theme-color-actions-green-dark);
}

.context-button {
  	display: inline-block;
}
.context-button button {
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 0px;
	height: 30px;
	width: 30px;
}

.context-button button:hover{
	border: 2px solid #777777;
}

.context-button img{
	height: 26px;
	width: 26px;
	border: 0px;
}

.context-button button:active{
	border: 2px solid #FFFFFF;
	transform: translateY(2px);
}

.header-button {
	width: 54px;
	background-color:var(--mt-theme-color-button-pressed-background);
}

.header-button button {
	border: 2px solid #000000;
	background-color: #000000;
	border-radius: 4px;
	padding: 0px;
	height: 25px;
	width: 25px;
}

.header-button button:hover{
	border: 2px solid var(--dragover-border-color);
}

.header-button button:active{
	border: 2px solid #FFFFFF;
	transform: translateY(2px);
}

.header-button img{
	height: 22px;
	width: 22px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
}

.equipment-button{
	background-color:var(--mt-theme-color-button-pressed-background);
	margin: 0px;
	padding: 3px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.equipment-button button{
	height: 54px;
	width: 54px;
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 0px;
	vertical-align: middle;
	background-color: black;
}

.equipment-button img{
	height: 49px;
	width: 49px;
	border: 0px;
	vertical-align: middle;
	text-align: center;
}

.equipment-button button:hover{
	border: 2px solid var(--dragover-border-color);
}

.equipment-button button:active{
	border: 2px solid #FFFFFF;
	border-radius: 8px;
	transform: translateY(2px);
}
.status-button {
  	display: inline-block;
}

.status-button button {
	border: 2px solid #000000;
	border-radius: 8px;
	padding: 0px;
	height: 30px;
	width: 30px;
}

.status-button img{
	height: 26px;
	width: 26px;
	border: 0px;
}

.valid-drop {
	border: 2px solid var(--dragover-border-color) !important;
	border-radius: 8px !important;
	padding: 0px !important;
}