.context-button {
  display: inline-block;
  height: 35px;
}
.context-button button {
  display: inline;
  border: 2px solid #000000;
  border-radius: 8px;
  padding: 8px;
  height: 30px;
  width: 30px;
  background-size: 26px 26px;
}