.inventory-list th{
	background-color:#504A40;
	color: #FAF9F7;
}

.inventory-list th,td:first-of-type{
	max-width: min-content;
}

.stored-item td:first-of-type{
	max-width: min-content;
	background-color: var(--mt-theme-color-background);
	border-right-color: var(--mt-theme-color-foreground);
	border-right-style: solid;
	border-right-width: 2px;
}

.weight-data th{
	background-color:#504A40;
	color: #FAF9F7;
}