.inventory-list th{
	background-color:var(--mt-theme-color-button-pressed-background);
	color: var(--mt-theme-color-foreground);
}

.spacer-row{
	min-height: 4px;
}

.spacer-row td{
	background-color:var(--mt-theme-color-button-pressed-background);
	color: var(--mt-theme-color-foreground);
	min-width: 20px;
}

.inventory-list th,td:first-of-type{
	max-width: min-content;
}

.inventory-spacer{
	text-align: right;
}

.stored-item td.inventory-spacer{
	background-color: var(--mt-theme-color-background);
}

.weight-data th{
	background-color:var(--mt-theme-color-button-pressed-background);
	color: var(--mt-theme-color-foreground);
}

.footer{
	background-color:var(--mt-theme-color-button-pressed-background);
	color: var(--mt-theme-color-foreground);
}