/* MapTool Theme CSS 0.1 */

/* Base / body styles are based on JPanel styles */
:root {
	font-size: 12px;
}

body, 
.mt-theme {
	font-family: sans-serif;
	color: %{laf.Panel.foreground};
	background-color: %{laf.Panel.background};
}

p,
table,
input {
	vertical-align: middle;
	font-size: 1rem;
}

/* JLabel */
input[disabled] + label,
input[disabled] + .mt-label,
.mt-input[disabled] + label, 
.mt-input[disabled] + .mt-label,
.mt-label--disabled {
  color: %{laf.Label.disabledForeground};
}

/* JButton */
button,
input[type=submit],
.mt-button {
	cursor: default;
	position: relative;
	background: transparent;
	color: %{laf.Button.foreground};
	padding: .2em .5em;
	margin: 0;
	font-family: inherit;
	font-size: 1em;
	border-radius: .15em;
	border: none;
}

button::after,
.mt-button::after {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding 1px;
	content: "";
	border-radius: .15em;
	background: linear-gradient(
		%{laf.Button.startBackground},
		%{laf.Button.endBackground});
	z-index: -1;
}

input[type=submit] {
	background:	%{laf.Button.endBackground};
}

button:hover::after,
input[type=submit]:hover,
.mt-button:hover::after {
	background:	%{laf.Button.startBackground};
}

button:active::after,
input[type=submit]:active,
.mt-button:active::after {
	background:	%{laf.ActionButton.pressedBackground};
}

.mt-button--square,
input[type=submit].mt-button--square,
.mt-button--square::after {
  border-radius: 0;
}

.mt-button--round,
input[type=submit].mt-button--round,
.mt-button--round::after {
  border-radius: 1em;
}

button[disabled],
input[type=submit][disabled],
.mt-button[disabled],
.mt-button--disabled {
	background: %{laf.Button.disabledBackground};
	color: %{laf.Button.disabledForeground};
	border: 1px solid %{laf.Button.disabledBorderColor};
}

/* JTextField */
input[type=text],
.mt-input[type=text] {
	color: %{laf.TextField.foreground};
	background-color: %{laf.TextField.background};  
	border: 1px solid %{laf.Component.disabledBorderColor};
}

/* Typography / Font */
h1 { font-size: 2.50rem; }
h2 { font-size: 2.15rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.00rem; }

h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; }

.mt-type--large   { font-size: 1.15rem; }
.mt-type--default { font-size: 1.00rem; }
.mt-type--medium  { font-size: 0.90rem; }
.mt-type--small   { font-size: 0.80rem; }
.mt-type--mini    { font-size: 0.70rem; }